.raco-init-fbox {
  display: flex;
}

// raco align items
.raco-fbox-align-c {
  align-items: center;
}

.raco-fbox-align-r {
  align-items: flex-end;
}

.raco-fbox-align-l {
  align-items: flex-start;
}

// raco justify contnet
.raco-fbox-justify-c {
  justify-content: center;
}

.raco-fbox-justify-r {
  justify-content: flex-end;
}

.raco-fbox-justify-l {
  justify-content: flex-start;
}

.raco-fbox-justify-sp {
  justify-content: space-between;
}

.raco-fbox-justify-se {
  justify-content: space-evenly;
}

.raco-fbox-justify-sa {
  justify-content: space-around;
}