* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    margin: 0;
    padding: 0;
  }
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select,
button,
select {
  font: inherit;
}

// @media (prefers-reduced-motion: reduce) {
//   * {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }
