.raco-col-trans {
  color: var(--raco-col-0);
}

.raco-bgcol-trans {
  background-color: var(--raco-col-0);
}

.raco-col-1 {
  color: var(--raco-col-1);
}

.raco-bgcol-1 {
  background-color: var(--raco-col-1);
}

.raco-col-2 {
  color: var(--raco-col-2);
}

.raco-bgcol-2 {
  background-color: var(--raco-col-2);
}

.raco-col-3 {
  color: var(--raco-col-3);
}

.raco-bgcol-3 {
  background-color: var(--raco-col-3);
}

.raco-col-4 {
  color: var(--raco-col-4);
}

.raco-bgcol-4 {
  background-color: var(--raco-col-4);
}

.raco-col-5 {
  color: var(--raco-col-5);
}

.raco-bgcol-5 {
  background-color: var(--raco-col-5);
}

.raco-col-6 {
  color: var(--raco-col-6);
}

.raco-bgcol-6 {
  background-color: var(--raco-col-6);
}
